body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.6em;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display:block;
    font-size: 16px;
    width: 70%;
    margin: 20px 20px;
}

.menu {
	width:400px;
	height: 400px;
	margin: 20px auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

label{
    display: inline-block;
    width: 180px;
}

input[type='text']{
    width: 97%;
    padding: 4px;
    border-radius: 5px;
    border: 1px #ccc solid;
}

input[type='number']{
    width: 50px;
    padding: 4px;
    border-radius: 5px;
    border: 1px #ccc solid;
}

.container{
    width: 60%;
    margin: 0 auto;
    overflow: auto;
}

header{
    border-bottom: 3px #f4f4f4 solid;
}

footer{
    border-top: 3px #f4f4f4 solid;
    text-align: center;
    padding-top: 5px;
}

main{
    padding-bottom: 20px;
}

a.start{
    display: inline-block;
    color: #aaa;
    background: #f4f4f4;
    border: 1px dotted #ccc;
    padding: 6px 13px;
}

.current{
    padding: 10px;
    background: #f4f4f4;
    border: #ccc dotted 1px;
    margin: 20px 0 10px 0;
}

@media only screen and (max-width: 960px){
    .container{
        width: 80%;
    }
}